h1 {
  font: 50px cursive;
}

.canvas {
  border: 2px solid gray;
  float: left;
  clear: both;
}

.row {
  clear: both;
}

.square {
  border: 1px solid gray;
  float: left;
  height: 40px;
  width: 40px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.maroon {
  background-color: maroon;
}

.gray {
  background-color: gray;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.RoyalBlue {
  background-color: RoyalBlue;
}

.magenta {
  background-color: magenta;
}

.SkyBlue {
  background-color: SkyBlue;
}

.lime {
  background-color: lime;
}

.cyan {
  background-color: cyan;
}

.navy {
  background-color: navy;
}

.SpringGreen {
  background-color: SpringGreen;
}

.color {
  height: 45px;
  width: 45px;
  border: 2px solid gray;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.palette {
  clear: both;
}

.currentColor {
  height: 50px;
  width: 50px;
  border-radius: 20%;
  border: 4px solid gray;
  float: left;
}

.text {
  height: 100px;
  float: left;
  font: 14px monospace;
}
